# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Report/bu1.aux
Report/bu1.bbl
Report/bu1.blg
Report/main.aux
Report/main.fdb_latexmk
Report/main.fls
Report/main.log
Report/main.synctex.gz
Report/main.toc
Programming/WolfSSLTest/certs/certificate.cer
.gitignore
Programming/WolfSSLTest/certs/cert.cer
Programming/WolfSSLTest/certs/cacert.pem
Programming/WolfSSLTest/certs/cert1.cer
Programming/WolfSSLTest/certs/newfile.crt.pem
Programming/WolfSSLTest/certs/test_provider.cer
Programming/WolfSSLTest/certs/privkey.pem
Programming/WolfSSLTest/Core/Inc/cert.h
